/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-12-9, 0:47:07
    Author     : cheng
*/
html{
    background: rgb(245,245,245);
}
.main-wrapper{
    width: 100%;
}

body {
    font-size: 14px;
    line-height: 22px;
    font-family: Helvetica Neue, Helvetica, Arial;

}
.interface {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

.main-menu{
    width: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 15px 0 30px 30px;
    border-right: 1px solid #bbb;
    box-shadow: 0 0 20px #ccc; -webkit-box-shadow: 0 0 20px #ccc; -moz-box-shadow: 0 0 20px #ccc;
}
a.toc_title, a.toc_title:visited {
    display: block;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
a.toc_title:hover {
    text-decoration: underline;
}

ul.toc_section {
    font-size: 14px;
    line-height: 14px;
    margin: 5px 0 0 0;
    padding-left: 0px;
    list-style-type: none;
    font-family: Lucida Grande;
}
.toc_section li {
    cursor: pointer;
    margin: 0 0 3px 0;
}
.toc_section li a {
    text-decoration: none;
    color: black;
}
.toc_section li a:hover {
    text-decoration: underline;
}
.main-content{
    background:  #f4f4f4 url(background.png);
    padding:15px;
    font-size: 14px;
}
.main-content p{
    text-indent: 2em;
}

.shim-table{
    width: 90%;
    border: 1px solid gray;
    border-collapse: collapse;
}
.shim-table td{
    border: 1px solid gray;
    padding:10px;
}


:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #f5f2f0;
}
code[class*="language-"] {
    color: #d14;
}